# Teste Classe awsTextractWrapper

In [1]:
# Lendo a classe
from awsTextractWrapper import awsTextractWrapper

# Inicializando o Objeto
textract = awsTextractWrapper(False)

In [2]:
file = '../data/images/form-sample-01/form-01.png'

In [3]:
# processa o arquivo

textract.setEnvCredentials(
    aws_region_name='us-east-2',
    aws_access_key_id='AKIAWJJZRPVNEGEIUD5O',
    aws_secret_access_key='BYTumjOwevpKULtVBP+GdCrRQR50xVKS4Eh7bd2m'
)

(0, 'Success.')

In [4]:
textract.processLocalDoc(
    filepath=file
)

(0, 'AWS - Doc processed.')

In [5]:
textract.df_tables[1]

,N.° Talhão,Área Trab. (ha),N.° Veículo/Equip.,N.° Implemento,H. máq/km,Matrícula Operador
0,25,18.0,TRR0070,-,"9,1",1800011
1,,,,,,
2,,,,,,
3,,,,,,
4,,,,,,
5,,,,,,
6,Total,180,,Total,91,

In [ ]:
textract.key_values